.A{
    background-color: #fdb16a;
    height:500px;
    width:500px;
}
.B{
    background-color: #aff4b4;
    height:50%;
    width:50%;
}
.C{
    background-color: rgb(255, 0, 0);
    font-family: monospace; 
    font-size: 25px; 
    color: aliceblue; 
    font-weight: bold;
}
.D{
    width:50%;
    height: 50vh; 
    background-color:rgb(84, 21, 222);
}
.E{
    width: 75%vw;     
    height: 50%;
    background-color: rgb(255, 0, 0);
}